@import url("darkly_bootstrap.min.css");

body {
	padding-top: 100px;
	background-image: url(/images/background.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

.vertical-padding-30 { 
	padding-top: 30px;
	padding-bottom: 20px;
}
.divider-50 { padding-top: 50px; }
.divider-100 { padding-top: 100px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table { margin-bottom: 0px; }
.padding-bottom { padding-bottom: 30px; }
.shadow-bottom {
	-webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.4);
}
.navbar-brand { padding-top: 0px; }
.vertical-shape {
	top: 0px;
	height: 100%;
	position: absolute;
	float: left;
	width: 320px;
}
.low-opacity-black {
	background-color: rgba(0,0,0,.4);
}
.view-foot { padding-bottom: 15px; }
.aling-right { text-align: right; }
.clickable { cursor: pointer; }
.unselectable { 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}
.margin-25 { margin-top: 25px;}
.search-list {
	height: 500px;
	overflow-y: auto;
}
.record-list {
	height: 150px;
	overflow-y: auto;
}
.details-consultation-list {
	height: 100px;
	overflow-y: auto;
}
.error { border-color: red; 
		color: red;
}

.scroll-list-250 {
	height: 250px;
	overflow-y: auto;
}