<div class="col-md-12">
	<div class="col-md-10">
		<h1>Choose your symptoms</h1> 
	</div>
	<div class="col-md-2">
		<a type="button" title="Go back" class="btn btn-link pull-right" ng-href="#SearchPatient/{{last_search}}"><h3><i class="fa fa-arrow-left"></i></h3></a>
	</div>
</div>

<div class="col-md-12 vertical-padding-30 low-opacity-black">
	
	<div class="text-center">
      <h3><u>Choose your symptoms</u></h3>
  </div>
	<div class="row divider-50">
  	<div class="col-sm-5 col-sm-offset-1">
      <div class="panel panel-success">
        <div class="panel-heading">Existent symptoms</div>
        <div class="panel-body">
          <div class="list-group scroll-list-250"> 
            <div class="list-group-item unselectable" ng-repeat="symptom in symptoms">
              <table>
                <tr>
                  <td class="col-md-12">
                    {{symptom.description}} 
                  </td>
                  <td>
                    <a type="button" class="btn btn-link btn-md pull-right" tooltip="Choose symptom" ng-click="chooseSymptom(symptom)"><i class="fa fa-arrow-right"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <a type="button" class="btn btn-success btn-block" ng-href="#Diagnose/CreateSymptom">Create Symptom</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-danger">
        <div class="panel-heading">Your symptoms</div>
        <div class="panel-body">
          <div class="list-group scroll-list-250"> 
            <div class="list-group-item unselectable" ng-repeat="symptom in currentSymptoms">
              <table>
                <tr>
                  <td class="col-md-12">
                    {{symptom.description}}
                  </td>
                  <td>
                    <a type="button" class="btn btn-link btn-md pull-right" style="color: #c72d2d;" tooltip="Remove symptom" ng-click="removeSymptom(symptom)"><i class="fa fa-remove"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <a type="button" class="btn btn-danger btn-block" ng-click="removeCurrentSymptoms()">Remove all</a>
        </div>
      </div>
    </div>
	</div>
  <div class="col-md-3 col-md-offset-9 divider-50">
    <a type="submit" class="btn btn-success btn-block">Next</a>
  </div>
</div>