<div class="col-md-12">
	<div class="col-md-10">
		<h1>Diagnose</h1> 
	</div>
	<div class="col-md-2">
		<a type="button" title="Go back" class="btn btn-link pull-right" ng-href="#Diagnose/{{patient_id}}/ChooseSymptoms"><h3><i class="fa fa-arrow-left"></i></h3></a>
	</div>
</div>
<ol class="breadcrumb">
  <li><a ng-href="#Diagnose/{{patient_id}}/ChooseSymptoms">Symptoms</a></li>
  <li class="active">Disease</li>
</ol>
<div class="col-md-12 vertical-padding-30 low-opacity-black">
	<div class="text-center">
      	<h3><u>These could be the possible diagnoses</u></h3>
  	</div>
	<div class="row divider-50">
	  	<div class="col-sm-6 col-sm-offset-3">
	      	<div class="panel panel-warning">
	        	<div class="panel-heading">Diseases</div>
	        	<div class="panel-body">
	          		<div class="list-group scroll-list-250"> 
	            		<div class="list-group-item unselectable" ng-repeat="disease in diagnosedDiseases">
	              			<table>
	                			<tr>
	                  				<td class="col-md-12">
	                    				{{disease.name}} 
	                  				</td>
	                  				<td>
	                    				<a type="button" class="btn btn-link btn-md pull-right" style="color: #f2bd17;" tooltip="Make a treatment for this disease" ng-href="#Treatment/{{patient_id}}/{{disease.id}}"><i class="fa fa-arrow-right"></i></a>
	                  				</td>
	                			</tr>
	              			</table>
	            		</div>
	          		</div>
	          		<div class="input-group">
					   	<input type="text" ng-model="newDisease.name" class="form-control" placeholder="Disease name..." >
                        <span class="input-group-btn">
	          				<a type="button" tooltip="Create Disease" class="btn btn-warning btn-block" ng-click="createDisease()" ><i class="fa fa-plus"></i></a>
                        </span>
					</div>
	        	</div>
	      	</div>
	    </div>
    </div>
</div>