<div class="col-md-12">
	<div class="col-md-10">
		<h1>{{patient.name}} {{patient.surname}} <span class="label label-success">DNI: {{patient.dni}}</span></h1> 
	</div>
	<div class="col-md-2">
		<a type="button" title="Go back" class="btn btn-link pull-right" ng-href="#SearchPatient/{{last_search}}"><h3><i class="fa fa-arrow-left"></i></h3></a>
	</div>
</div>
<div class="col-md-12 vertical-padding-30 low-opacity-black">
    <div class="col-md-6">
    	<div class="panel panel-warning">
		  	<div class="panel-heading">Allergies</div>
		  	<div class="panel-body">
		    	<div class="list-group record-list">
					<div class="list-group-item" ng-repeat="allergy in medicalRecord.allergies">
						<table>
		            		<tr>
		            			<td class="col-md-10">
		            				{{allergy.name}}
		            			</td>
		            			<td >
		            				<a type="button" class="btn btn-danger btn-sm" tooltip="Delete allergy" ng-click="deleteAllergy(allergy)"><i class="fa fa-trash"></i></a>
		            			</td>
		            		</tr>
		            	</table>
					</div>
				</div>
				<div class="dropdown">
		          	<a class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Allergy <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
			            <li ng-repeat="allergy in allergies">
			            	<table>
			            		<tr>
			            			<td class="col-md-10">
			            				{{allergy.name}}
			            			</td>
			            			<td >
			            				<a type="button" class="btn btn-link btn-md" tooltip="Add allergy" ng-click="addAllergy(allergy)"><i class="fa fa-plus"></i></a>
			            			</td>
			            		</tr>
			            	</table>
			            </li>
		          	</ul>
		        </div>
				<a type="button" class="btn btn-warning btn-block" href="#MedicalRecord/{{patient.id}}/CreateAllergy">Create Allergy</a>	
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="panel panel-primary">
		  	<div class="panel-heading">Diseases</div>
		  	<div class="panel-body">
		    	<div class="list-group record-list">
					<div class="list-group-item" ng-repeat="disease in medicalRecord.diseases">
						<table>
		            		<tr>
		            			<td class="col-md-10">
		            				{{disease.name}}
		            			</td>
		            			<td >
		            				<a type="button" class="btn btn-danger btn-sm" tooltip="Delete Disease" ng-click="deleteDisease(disease)"><i class="fa fa-trash"></i></a>
		            			</td>
		            		</tr>
		            	</table>
					</div>
				</div>
				<div class="dropdown">
		          	<a class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Disease <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
			            <li ng-repeat="disease in diseases">
			            	<table>
			            		<tr>
			            			<td class="col-md-10">
			            				{{disease.name}}
			            			</td>
			            			<td >
			            				<a type="button" class="btn btn-link btn-md" tooltip="Add Disease" ng-click="addDisease(disease)"><i class="fa fa-plus"></i></a>
			            			</td>
			            		</tr>
			            	</table>
			            </li>
		          	</ul>
		        </div>
				<a type="button" class="btn btn-warning btn-block" href="#MedicalRecord/{{patient.id}}/CreateDisease">Create Disease</a>	
			</div>
		    </div>
		</div>
	    <div class="col-md-12">
	    	<div class="panel panel-success">
			  	<div class="panel-heading">Consultations</div>
			  	<div class="panel-body">
			    	<div class="list-group record-list">
						<div class="list-group-item" ng-repeat="consultation in medicalRecord.consultations">							
							<div class="row">
								<div class="col-md-2">
									Diagnose: <h4>{{consultation.diagnoseDisease.name}}</h4>
								</div>
								<div class="col-md-5">
									Medicines
									<div class="list-group details-consultation-list">
										<div class="list-group-item" ng-repeat="medicine in consultation.treatment.medicines">
											{{medicine.drug.name}}, {{medicine.concentration}} mg.
										</div>
									</div>
								</div>
								<div class="col-md-5">
									Practices
									<div class="list-group details-consultation-list">
										<div class="list-group-item" ng-repeat="medicalPractice in consultation.treatment.medicalPractices">
											{{medicalPractice.name}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
	    </div>
    </div>
</div>