<div class="col-md-12">
	<div class="col-md-10">
		<h1>{{patient.name}} {{patient.surname}} <span class="label label-success">DNI: {{patient.dni}}</span></h1> 
	</div>
	<div class="col-md-2">
		<a type="button" title="Go back" class="btn btn-link pull-right" ng-href="#SearchPatient/{{last_search}}"><h3><i class="fa fa-arrow-left"></i></h3></a>
	</div>
</div>
<div ng-repeat="consultation." >
	
</div>
<div class="col-md-12 vertical-padding-30 low-opacity-black">
    <div class="col-md-6">
    	<div class="panel panel-default">
		  	<div class="panel-heading">Allergies</div>
		  	<div class="panel-body">
		    	<div class="list-group">
					<div class="list-group-item" ng-repeat="allergy in medicalRecord.allergies">
						{{allergy.name}}
					</div>
				</div>
		    </div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="panel panel-default">
		  	<div class="panel-heading">Diseases</div>
		  	<div class="panel-body">
		    	<div class="list-group">
					<div class="list-group-item" ng-repeat="disease in medicalRecord.diseases">
						{{disease.name}}
					</div>
				</div>
		    </div>
		</div>
    </div>
    <div class="col-md-12">
    <div class="panel panel-default">
		  	<div class="panel-heading">Last consultations</div>
		  	<div class="panel-body">
		    	<div class="list-group">
					<div class="list-group-item" ng-repeat="consultation in medicalRecord.consultations">							
						<table>
							<tr>
								<td>
									Diagnose: {{consultation.diagnoseDisease.name}}
								</td>
								<td>
									Medicines
									<div class="list-group">
										<div class="list-group-item" ng-repeat="medicine in consultation.treatment.medicines">
											{{medicine.drug.name}}, {{medicine.concentration}}
										</div>
									</div>
								</td>
								<td>
									Practices
									<div class="list-group">
										<div class="list-group-item" ng-repeat="medicalPractice in consultation.treatment.medicalPractices">
											{{medicalPractice.name}}
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
		    </div>
		</div>
    </div>
</div>










<div class="col-md-6 text-center">
	
</div>