
<h1>Found <span class="label label-success">{{searchResult.length}}</span> patients searching <span class="label label-success">{{last_search}}</span></h1>

<div class="col-md-12 vertical-padding-30 low-opacity-black">
    <div class="col-md-12 search-list">
		<div class="list-group">
			<div class="list-group-item" ng-repeat="patient in (searchResult = (patients | filter: last_search))">
				<table style="width:100%;">
					<tr>
						<td>
							<h3 class="list-group-item-heading">{{patient.name}} {{patient.surname}}</h3>
						    <p class="list-group-item-text"><b>DNI:</b> {{patient.dni}}</p>
						    <p class="list-group-item-text"><b>Height:</b> {{patient.height}} m.</p>
						    <p class="list-group-item-text"><b>Weight:</b> {{patient.weight}} kg.</p>
						</td>
						<td>
							<a type="button" title="Modify Patient" class="btn btn-warning btn-md pull-right" ng-href="#ModifyPatient/{{patient.id}}"><b><i class="fa fa-pencil-square-o"></i></b></a>
							<a type="button" title="Look records" class="btn btn-primary btn-md pull-right" ng-href="#MedicalRecord/{{patient.id}}"><b><i class="fa fa-file-text-o"></i></b></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

  
    
  
