
<h1>Found <span class="label label-success">{{searchResult.length}}</span> patients searching <span class="label label-success">{{last_search}}</span></h1>
<ul class="pagination pull-left">
	<li ng-class="prevPageDisabled()">
		<a href ng-click="prevPage()">« Prev</a>
	</li>
	<li ng-repeat="n in numberPages(true)">
		<a href ng-click="page(n)">{{n+1}}</a>
	</li>
	<li ng-class="nextPageDisabled()">
		<a href ng-click="nextPage(true)">Next »</a>
	</li>
</ul>
<div class="col-md-12 vertical-padding-30 low-opacity-black">
    <div class="col-md-12 search-list">
		<div class="list-group">
			<div class="list-group-item" ng-repeat="patient in (searchResult = (patients | filter: last_search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage)) ">
				<table style="width:100%;">
					<tr>
						<td>
							<h3 class="list-group-item-heading">{{patient.name}} {{patient.surname}}</h3>
						    <p class="list-group-item-text"><b>DNI:</b> {{patient.dni}}</p>
						    <p class="list-group-item-text"><b>Height:</b> {{patient.height}} m.</p>
						    <p class="list-group-item-text"><b>Weight:</b> {{patient.weight}} kg.</p>
						</td>
						<td>
							<a type="button" title="Modify Patient" class="btn btn-warning btn-lg pull-right" ng-href="#ModifyPatient/{{patient.id}}"><b><i class="fa fa-pencil-square-o"></i></b></a>
							<a type="button" title="Look records" class="btn btn-primary btn-lg pull-right" ng-href="#MedicalRecord/{{patient.id}}" style="margin-left:5px;margin-right:5px;" ><b><i class="fa fa-file-text-o"></i></b></a>
							<a type="button" title="Diagnose" class="btn btn-success btn-lg pull-right" ng-href="#Diagnose/{{patient.id}}/ChooseSymptoms"><b><i class="fa fa-stethoscope"></i></b></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

  
    
  
